mixin titles(title)
    title=title 

mixin style-head(style)
    link(rel="stylesheet", href="../css/"+style)

mixin style-head-responsive(stylesResponsive, screen) 
    link(rel="stylesheet", href="../css/"+stylesResponsive media="screen and (min-width:" +screen+"px)")

mixin figure-img(srcImg, altImg)
    figure(class!=attributes.class)
        img(src="https://drive.google.com/uc?id="+srcImg, alt=altImg)

mixin inputs(classLabel, forLabelIdNameInput, classP, title, classInput, typeInput, placeholderInput, autocompleteInput)
    label(class=classLabel for=forLabelIdNameInput)
        p(class=classP)=title
        input(id=forLabelIdNameInput class=classInput type=typeInput name=forLabelIdNameInput placeholder=placeholderInput autocomplete=autocompleteInput required)
        
mixin button-submit(classInput, valueInput)
    input(class=classInput type="submit" value=valueInput)

mixin logo-yard-sale()
    .logo-container
        figure.logo
            img(src="https://drive.google.com/uc?id=1j2ShTvw2GjJu2Cl0he0c4wvMUC5To__S", alt="Logo Yard Sale")
        h2.logo__title 
            span.logo__title--green Yard 
            |Sale
